[Desktop Entry]
Name=Anjal
Comment=A powerful cross-platform API client
Exec=anjal
Icon=anjal
Terminal=false
Type=Application
Categories=Development;
